BasedOnStyle: Google
Language: Cpp
Standard: c++20
ColumnLimit: 100
IndentWidth: 2
AccessModifierOffset: -1
AlwaysBreakTemplateDeclarations: Yes
IncludeBlocks: Regroup
SortIncludes: CaseSensitive
DerivePointerAlignment: false
PointerAlignment: Left